body {
  background-color: #C2C5AA;
}

header {
  background-color: #656D4A;
  height: 110px;
  margin-bottom:50px
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

a {
  color: #582F0E;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

a:hover {
  transition: 750ms;
  color: #c88f5a;
}

h1 {
  font-family: 'Special Elite', cursive;
  font-size: 64pt;
  margin-left: -50px;
  color: #582F0E;
}

#logo {
  width:125px;
  float: left;
  margin-left: 25px;
  padding-top: 25px;
}


#family {
  display: flex;
  align-items: center;
  margin-top: 25px;
  padding-left: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  margin-bottom: 50px;
  color: #333D29;
  
}
#family img {
  border: 5px solid #656D4A;
  border-radius: 50%;
  width: 500px;
  margin-right: 50px;
}

#menu, #merch, #blog, #recipes {
  float: left;
  margin: 50px;
  padding: 15px;
  background-color: #B6AD90;
  width: 220px;
  height: 250px;
  box-shadow: 5px 5px;
  text-align: center;
}

h2 {
 font-family: 'Special Elite', cursive;
 font-size: 16pt;
  color: #582F0E;
}

#menu img {
  width: 200px;
  padding: 10px;
  border-radius: 50%;
}

#merch img {
  width: 200px;
  padding: 10px;
  border-radius: 50%;
}

#blog img {
  width: 200px;
  padding: 10px;
  border-radius: 50%;
}

#recipes img {
  width: 200px;
  padding: 10px;
  border-radius: 50%;
}

footer {
  background-color: #656D4A;
  margin-top: 30px;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  color:#322b19
}

.wwlocations {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-top: 25px;
}

.storeinfo {
  display: block;
  margin-left: 15px;
  margin-right: 15px
}

h4 {
 font-weight: bold;
 font-size: 14pt;
}

.address {
  font-size: 12pt;
} 

footer img {
  height: 100px;
  margin-top: 25px;
  border-radius: 25%;
  border: 2px solid #414833
}

/* sales page specific */

#addStoreForm {
  max-width: 250px;
  border: 1px solid black;
  background-color: #E9F5DB;
  padding: 20px;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  
}

#addStoreForm legend {
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  position: relative;
  bottom: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#addStoreForm label{
  padding-right: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#addStoreForm button {
  width: 125px;
  margin-left: 20px;
  border-radius: 100px;
  font-weight: bold;
  margin-top: 5px;
}

#addStoreForm button:hover {
  transition: 150ms;
  background-color: #CFE1B9;
}

#locations {
margin: 50px;
}

th {
  border: 2px solid black;
  padding: 10px;
  background-color: #CFE1B9;
}

td {
  border: 1px solid black;
  padding: 10px;
  background-color: #E9F5DB;
}